<div class="col-md-20 col-md-offset-2 col-xs-24 currencytbl">
  <div class="row">
    {% if data %}
      {% for currency in data %}
        <div class="col-md-8 text-center currency">
          <a href="/currencies/{{ currency.kod2 }}" class="" title="{{ currency.name }}">
            <img src="/{{ base_path ~ directory }}/images/{{ currency.kod2 }}.png" width="90%"
                 alt="Детальний курс {{ currency.kod2 }}"/>
            <b>{{ currency.kod2 }}</b><br> {{ currency.name }}
          </a><br>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  {#{{ kint() }}#}
</div>
