<div class="container maincontainer">
    <div class="row">
        <div class="col-md-3 col-xs-12 header_left">
            {{ page.header_left }}
        </div>
        <div class="col-md-6 hidden-xs header_center">
            {{ page.header_center }}
        </div>
        <div class="col-md-3 col-xs-12 header_right">
            {{ page.header_right }}
        </div>
    </div>
    <div class="row">
        {% block content %}
            {% if page.left_sidebar %}
                <div class="col-md-3 left-sidebar">
                    {{ page.left_sidebar }}
                </div>
            {% endif %}
            <div class="col-md-{{ page.left_sidebar ? '9' : '12' }} content">
                {{ page.content }}
            </div>
        {% endblock %}
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 footer_left">
            {{ page.footer_left }}
        </div>
        <div class="col-md-7 hidden-xs footer_center">
            {{ page.footer_center }}
        </div>
        <div class="col-md-2 col-xs-12 footer_right">
            {{ page.footer_right }}
        </div>
    </div>
</div>