{% extends "page.html.twig" %}

{% block content %}
  {#<ul>#}
  {#{% for letter in 'a'..'d' %}#}
  {#<li class="{{ cycle(['odd', 'even'], loop.index0) }}">{{ letter }}</li>#}
  {#{% endfor %}#}
  {#</ul>#}
  {% if page.left_sidebar %}
    <div class="col-md-5 left-sidebar">
      {#{{ my_name }}#}
      {{ page.left_sidebar }}
    </div>
  {% endif %}
  <div class="col-md-{{ page.left_sidebar ? '14' : '19' }} content">
    {{ page.content }}
    {#<h1{{ attributes }}>{{ my_text }}</h1>#}
    {#{ kint() }#}
  </div>
  <div class="col-md-5 right-sidebar">
    {{ page.right_sidebar }}
  </div>
{% endblock %}